* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    overflow: hidden;
}
#container {
    min-height: 100vh;
    display: flex;
}
div.half-width {
    height: 100vh;
    width: 50vw;
    border: 1px solid black;
}
div.half-height {
    height: 50vh;
}
h1.sectionTitle {
    font-family: 'Roboto';
    margin: 10px;
}

.middle {
    display: block;
    margin: auto;
    width: 40%;
    margin-top: 25%;
    margin-bottom: 0px;
}

.send-btn {
    width: 15%;
    height: 35px;
}

.large-btn {
    padding: 25px 80px;
}

.small-btn {
    padding: 6px 20px;
}

.btn-1 {
    border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border: 3px solid #0e83cd;
	color: #0e83cd;
    border-radius: 5px;
}

/* Button 1a */
.btn-1:hover,
.btn-1:active {
	color: #fff;
	background: #0e83cd;
}

.request-btn {
    float: left;
    margin-right: 15px;
}

.accept-btn {
    border: 3px solid #66bb6a;
    color: #66bb6a;
}
.accept-btn:hover,
.accept-btn:active {
    color: #fff;
    background: #66bb6a;
}

.deny-btn {
    border: 3px solid #e53935;
    color: #e53935;
}
.deny-btn:hover,
.deny-btn:active {
    color: #fff;
    background: #e53935;
}

h2.WaitingTitle {
    font-family: 'Open Sans';
    margin-top: 25%;
    margin-left: 30%;
}
div.request-box {
    height: 15%;
    border-bottom: 1px solid black;
}
div.request {
    margin-bottom: 5px;
}
div.current-chat-box {
    height: 35%;
    border-bottom: 1px solid black;
}
div.chat-box {
    height: 50%;
}
h1.request-title {
    float: left;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 10px;
    font-size: 20px;
}

div.messageBox {
    width: 100%;
    height: 80%;
}
div.inputBox {
    width: 100%;
    height: 10%;
    background: #dbdbdb;
}

input.messageTextBox {
  width: 75%;
  height: 60%;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 15px;
  background: transparent;
}
input.messageTextBox:focus {
    outline: none;
}

div.chatOption:hover {
    background: #d9d9d9;
}
